.fio__wrapper {
  width: 100%;
  max-width: 1114px;
  height: 100px;
}

.fio__header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid $color-tropical-rain-forest;
  align-items: center;
}

.fio__header-names {
  display: flex;
  align-items: center;
  height: 100px;
  width: 200px;
  border-right: 1px solid $color-tropical-rain-forest;
  padding: 0 15px;
  justify-content: center;
}

.fio__header-court-name {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.fio__header-count {
  display: flex;
  align-items: center;
  height: 100px;
  width: 150px;
  border-left: 1px solid $color-tropical-rain-forest;
  padding: 0 15px;
  justify-content: center;
}

.fio__list-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid $color-tropical-rain-forest;
  max-width: 1114px;
  overflow: hidden;
}

.fio__list-left {
  display: flex;
  align-items: center;
  width: 200px;
  border-right: 1px solid $color-tropical-rain-forest;
  padding: 0 15px;
}

.fio__list-center {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 15px;
  max-width: 755px;
  word-wrap:break-word;
  overflow: hidden;
}

.fio__list-right {
  display: flex;
  align-items: center;
  width: 150px;
  border-left: 1px solid $color-tropical-rain-forest;
  padding: 0 15px;
  justify-content: center;
}