.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__logo {}

.header__center-text {
  font-family: $bold;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header__nav-wrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid $color-tropical-rain-forest;
  border-bottom: 1px solid $color-tropical-rain-forest;
  // background-color: ;
  
}

.header__nav-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header__nav-item {
  margin-right: 40px;
  max-width: 250px;
  text-align: center;

}

.header__nav-link {
  padding: 5px;

  @include hover-focus {
    @media (hover: hover) {
      &:hover:not(.focus-visible) {
        text-decoration: underline;
      }
    }

    &.focus-visible:focus {
      text-decoration: underline;
    }
  }
}