.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__logo {
  padding-left: 20px;
  min-width: 180px;
}

.header__center-text {
  font-family: $bold;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header__center-text span {
  font-size: 1rem;
}

.header__nav-wrapper {
  border-top: 1px solid $color-tropical-rain-forest;
  border-bottom: 1px solid $color-tropical-rain-forest;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 18px;
  flex-wrap: wrap;
  margin:0;
  align-items: center;
  text-align: center;
}

.header__nav-item {
  display: flex;
  min-height: 50px;
  max-width: 250px;
  cursor: pointer;
  padding: 0 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  // @include hover-focus {
  //   @media (hover: hover) {
  //     &:hover:not(.focus-visible) {
  //       text-decoration: underline;
  //     }
  //   }

  //   &.focus-visible:focus {
  //     text-decoration: underline;
  //   }
  // }
}